<div class="div_form_add panel panel-primary ">
  <div class="panel-heading">delete user</div>
  <div class="panel-body">

  </div>

  <div class="panel-body">
    <form action="#" th:action="@{/delete}" th:object="${user}" method="post">
      <div class="form-group">
        <select th:name="id" class="sel_users sel-delete col-xs-12 form-control" aria-label="Default select example">
          <option value=""></option>
          <option th:each="u:${users}" th:value="${u.id}" th:text="${u.username}"></option>
        </select>
      </div>
      <input type="submit" class="btn btn-primary" value="Valider" />
    </form>
  </div>
</div>