@charset "UTF-8";
body {
	background: #dadafe;
}
[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-xs-4 {
    margin-top: 17px;
    margin-left: 5px;
    width: 33%;
}
.sel_users{
	margin-bottom: 15px;
}